parameters:
  serviceConnection: "azurerm-nonprod"
  registryServiceConnection: "azurerm-prod"
  aksResourceGroup: "cnp-aks-rg"
  aksCluster: "cnp-aks-cluster"
  acrName: "hmctspublic"
  chartName: ""
  chartReleaseName: ""
  chartNamespace: ""
  helmVersion: "3.0.2"

steps:
  - task: HelmInstaller@1
    displayName: 'Install Helm ${{parameters.helmVersion}}'
    inputs:
      helmVersionToInstall: ${{parameters.helmVersion}}
  - task: AzureCLI@1
    displayName: "AKS Authenticate"
    inputs:
      azureSubscription: ${{ parameters.serviceConnection }}
      scriptLocation: "inlineScript"
      inlineScript: az aks get-credentials --admin --resource-group ${{ parameters.aksResourceGroup }} --name ${{ parameters.aksCluster }}

  - task: AzureCLI@1
    displayName: "Add custom charts repo"
    inputs:
      azureSubscription: ${{ parameters.registryServiceConnection }}
      scriptLocation: "inlineScript"
      inlineScript: |
        helm repo add stable https://kubernetes-charts.storage.googleapis.com
        az acr helm repo add --name ${{ parameters.acrName }}

  - script: helm dependency update ${{ parameters.chartName }}
    displayName: "Retrieve helm dependencies (if any)"

  - task: AzureCLI@1
    displayName: "Helm Package"
    inputs:
      azureSubscription: ${{ parameters.registryServiceConnection }}
      scriptLocation: "inlineScript"
      inlineScript: |
        rm -f $(ls ${{ parameters.chartName }}-[0-9]*)
        tag=${Build.SourceBranch} | cut -d'/' -f 4
        helm package ${{ parameters.chartName }} --version ${tag}

  - task: AzureCLI@1
    displayName: "Helm Publish"
    inputs:
      azureSubscription: ${{ parameters.registryServiceConnection }}
      scriptLocation: "inlineScript"
      inlineScript: |
        CHART_FILE=$(ls ${{ parameters.chartName }}-[0-9]*)
        az acr helm push --name ${{ parameters.acrName }} $CHART_FILE
