parameters:
  serviceConnection: "azurerm-nonprod"
  registryServiceConnection: "azurerm-prod"
  aksResourceGroup: "cnp-aks-rg"
  aksCluster: "cnp-aks-cluster"
  acrName: "hmctspublic"
  chartName: ""
  chartReleaseName: ""
  chartNamespace: ""
  helmVersion: "2.14.0"
  helmInstallTimeout: "120"
  helmTestTimeout: "300"
  helmDeleteWait: "0"
  helmInstallWait: "0"
  valuesFile: "ci-values.yaml"

steps:
  - task: HelmInstaller@0
    inputs:
      helmVersion: ${{ parameters.helmVersion }}
      checkLatestHelmVersion: false
      installKubectl: false

  - task: AzureCLI@1
    displayName: "AKS Authenticate"
    inputs:
      azureSubscription: ${{ parameters.serviceConnection }}
      scriptLocation: "inlineScript"
      inlineScript: az aks get-credentials --admin --overwrite-existing --resource-group ${{ parameters.aksResourceGroup }} --name ${{ parameters.aksCluster }}

  - task: AzureCLI@1
    displayName: "Add custom charts repo"
    inputs:
      azureSubscription: ${{ parameters.registryServiceConnection }}
      scriptLocation: "inlineScript"
      inlineScript: az acr helm repo add --name ${{ parameters.acrName }}

  - script: helm dependency update ${{ parameters.chartName }}
    displayName: "Retrieve helm dependencies (if any)"

  - script: helm delete --purge ${{ parameters.chartReleaseName }} || true
    displayName: "Delete Previous Test Chart"

  - script: sleep ${{ parameters.helmDeleteWait }}
    displayName: "Wait for previous chart resources to be deprovisioned"

  - script: helm lint ${{ parameters.chartName }}
    displayName: "Helm Lint"

  - script: helm install ${{ parameters.chartName }} --name ${{ parameters.chartReleaseName }} --namespace ${{ parameters.chartNamespace }} -f ${{ parameters.valuesFile }} --wait --timeout ${{ parameters.helmInstallTimeout }}
    displayName: "Helm Install"

  - script: sleep ${{ parameters.helmInstallWait }}
    displayName: "Wait for chart resources to be provisioned"

  - script: helm test ${{ parameters.chartReleaseName }} --cleanup --timeout ${{ parameters.helmTestTimeout }} --parallel
    displayName: "Helm Test"

  - script: helm delete --purge ${{ parameters.chartReleaseName }}
    displayName: "Delete test Chart"
